<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>毛利探偵事務所へようこそ</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<br/>
	<br/>
	<br/>

	<em class="Title">毛利小五郎<br/>探偵事務所</em>
	<br/>
	<pre>
<a href="./dcxm.html" class="button colorPink">調査項目</a>      <a href="./dcxm.html" class="button colorTuyellow">ブロフイール</a>

<a href="./dcxm.html" class="button colorYellow right">调查の流れ</a>   <a href="./dcxm.html" class="button colorGreen">事務所概要</a>

<a href="./dcxm.html" class="button colorBlue">あ門い合世</a>   <a href="./dcxm.html" class="button colorPurple">Q&A</a>
	</pre>
</body>
</html>